{% autoescape off %}
<p>Bonjour {{ username }}, </p>
<p>Vous vous êtes inscrit-e sur Boukin, cliquez sur ce lien pour confirmer votre inscription : </p>
<a href="https://api.boukin.adaschool.fr{% url 'user_activation' user_id %}" > Activez votre compte </a>
{% endautoescape %}
